:root {
	--blue1: #819FF7;
	--blue2: #A9D0F5;
}

* {
	margin: 0;
	padding: 0;
}

/* General stuff */
input[type="text"], button {
	margin: 4px;
}
input[type="text"] {
	padding: 0.8em 0.8em;
}
input:hover {border-color: lightgray;}

button {
	user-select: none;
	padding: 0.8em 0.8em;
	background-color: var(--blue2);
	/*border: 1px solid var(--blue1);*/
	border: 1px solid var(--blue2);
	transition: all 0.4s
}
button:hover {
	background-color: var(--blue1);
	cursor: pointer;
}
.ghost {
	background-color: white;
}

/* Form for adding new items */
.add-chore {
	/* border-bottom: 1px solid #81BEF7; */
	/* border-radius: 2em; */
	display: block;
	/* width: 50%; */
	margin: 0em;
	padding: 1.6em;
}

/* List of everything */
.chore-list {
	background-color: #E0ECF8;
	margin; 0;
	padding: 1em 1em 2em 1em;
	/* margin-right: 1em; */
	/* display: inline-block; */
	display: block;
	/* display: grid;
	grid-template-columns: 1fr 1fr 1fr; */
}

/* Singe chore */
.chore {
	background-color: white;
	border: 1px solid lightgray;
	border-radius: 2px;
	display: inline-block;
	width: 16em;
	margin: 4px;
	padding: 0.8em;
	box-shadow: 8px 8px 0px 0px rgba(173,173,173,0.5);
	vertical-align: top;
}
.chore > div:first-child { display: flex; }
.chore > div:first-child > div { display: inline-block; flex-grow: 1; }
.chore > div:first-child > div:first-child { margin-right: 0.5em; }
.chore > div:first-child > div:last-child { margin-left: 0.5em; text-align: right; }
